# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Setup Node.js environment
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: npm i
      - run: npm i hexo-cli -g
      - run: hexo g
      - name: Get commit hash
        id: get-hash
        run: echo ::set-output name=HASH::$(git rev-parse --short HEAD)
      - name: Upload public folder
        uses: actions/upload-artifact@v2
        with:
          name: blog-build-${{steps.get-hash.outputs.HASH}}
          path: public/
      - name: Push publice folder to git
        uses: liziwl/git-push-action@master
        with:
          git_token_holder: 'CBW2007'
          git_token: '${{ secrets.GIT_TOKEN }}'
          commit_user: 'CBW2007'
          commit_email: '${{secrets.GIT_MAIL}}'
          push_dir: 'public'
          repository_url: 'github.com/CBW2007/blog.git'
          branch: gh-pages # default master
